<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Registration</title>
</head>
<body>
    <h2>The club points balance</h2>
    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th>Club Name</th>
                <th>Points</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
                <tr>
                    <td>{{ club.name }}</td>
                    <td>{{ club.points }}</td>
                    <td>{{ club.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</body>
</html>
